# Mac
.DS_Store

# Intellij idea
*.log
*.iml
*.ipr
*.iws
.idea
.idea_modules
.classpath
.project

# SBT
bin/
project/project
project/target
target/
build/

# Others
logs
tmp
tags
.history
/.settings
.cache
/out
/RUNNING_PID
/nohup.out
